body
{
	height:720px;
	/*padding: 20px 10px 20px 10px;*/
        margin:0;
	width:1280px;
}

#main-container, table
{
	width:90%;
	table-layout: fixed;
}

#bloque-left
{
	height:680px;
	padding:0;
	width:220px;
}

#menu-container
{
	background-color: gray;
	height:700px;
	width:100%;
}

#menu-container table 
{
	height:700px;
	width:100%;
}


#bloque-center
{
	width:800px;
}

#data-container
{
	
	height:700px;
	width:100%;
}

#data-container #search
{
	height:50px;
	margin:60px 50px 0 50px;
	position:absolute;
	width:50%;
}

#search h3
{
	font-size:35px;
        color:khaki;

}

#bloque-right
{
	width:220px;

}

#sugerencias-container
{
	
	height:700px;
	width:100%;
	
}

/*Color de fondo de todos los bloques*/
.bloque{

	background-color:gray;

}

#search input[type="text"] {  
	background: url(../images/search.png) no-repeat 10px 6px white; 
	border: 0 none; 
	font: bold 16px Arial,Helvetica,Sans-serif; 
	color: black;
	width: 300px;
	padding: 6px 15px 6px 35px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
	-webkit-transition: all 0.7s ease 0s; 
	-moz-transition: all 0.7s ease 0s; 
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s; 
}

.result{

}

.detalle-receta
{
	padding:15px;
	width:180px;
	height:150px;
	border: 2px solid white;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;

}

.detalle-receta .texto-detalle
{
	float:left;
	width:70px;
	height:70%;
	overflow:hidden;

}

.detalle-receta .texto-detalle p
{
	align:justify;
	margin:0;
	

}

.detalle-receta .imagen-detalle
{
	float:left;
	margin-left:25px;
	
}

.resultado-recetas
{
	height:70%;
	width:95%;
	overflow-y:scroll;
	position:relative;
	top:160px;
	left:20px;

}
.resultado-recetas table
{
	border-spacing:15px;

}

#categorias-menu 
{
	top:180px;
	width:200px;
	position:relative;
	left:30px;
	float:left;
	display:none;
	padding-left:20px;
}



#sugerencias-container table
{
	padding-top:50px;
	border-spacing:30px;
}

#sugerencias-container td
{
	text-align:center;
}

#search-advanced
{
	border: 1px solid white;
	top:170px;
	position:relative;
	margin:auto auto 50px auto;
	width:90%;
	display:none;
}

#search-advanced td
{
	text-align:left;
	padding-top:10px;
        width:100px
	
}

#search-advanced td input[type='text']
{
	width:40px;
}

input[type='button']
{
	width:100px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 0 none; 
}

input[type='button']:hover
{
	background:orange;
}

td .menu-option
{
    color:khaki;
    font-size: 20px;
    font-weight:bold;
    
}

td .menu-option:hover
{
    background-color:orange;
    
}

a
{
    color: aliceblue;
    
    
}

.visible-block{
	display: block;
}

.invisible-block{
	display: none;
}
